= render 'layouts/header'

.ui.basic.segment
  %h3.ui.header#special Startups 
  %p The iHub Green startups use innovative business models and technology 
  %ul{:Style =>"list-style:none;"}
    %li To improve processes or eliminate inneficiency, 
    %li  To make things simpler
    %li  To solve peoples problems and 
    %li  Create wellbeing for humanity
  .ui.divider
  .ui.link.cards
    - @startups.each do |startup|

      .ui.red.card
        .content
          .ui.avatar.image
            -if startup.avatar.nil?
              = image_tag('icon-green.png')
            -else
              = image_tag startup.avatar.url(:thumb)
        .content
          .header 
            = startup.name
          %span.right.floated
            = startup.web
          .meta
            %a 
              = startup.location
          .description
            = truncate(startup.description, length: 20)
        .extra.content
          %span.right.floated
            -if startup.date_founded.nil?
            -else
              = startup.date_founded.readable_inspect()
          %span
            %p
              = startup.category 
        .extra.content
          %span
            = link_to 'more', startup
            -if admin_signed_in?           
              = link_to 'Edit', edit_startup_path(startup)
              = link_to 'Destroy', startup, :method => :delete, :data => { :confirm => 'Are you sure?' }

