= render 'layouts/header'
.ui.basic.segment
  .ui.centered.card{:style => "width:70%"}
    .content
      %center
        .circular.ui.image
          -if @startup.avatar.nil?
            = image_tag("icon-green.png")
          -else
            = image_tag @startup.avatar.url(:medium)
    .content
      .header 
        %center
          = @startup.name
      .right.floated.meta
        = @startup.web
      .description
        =@startup.description
    .extra.content
      %span.right.floated
        - if @startup.date_founded.nil?
        - else
          = @startup.date_founded.readable_inspect()
      %span
        %p
          = @startup.category
    .extra.content
      %span 
        = @startup.founders

    .extra.content
      %span
        -if admin_signed_in?
          = link_to 'Edit', edit_startup_path(@startup)
          \|
        = link_to 'Back', startups_path

