= render 'layouts/header'
.ui.segment
  .ui.fluid.card
    .image
      %img{:src => "/assets/imac.jpg"}
    .content
      .header 
        = @startup.name
      .meta
        %a 
          = @startup.web
      .description
        =@startup.description
    .extra.content
      %span.right.floated
        = @startup.date_founded
      %span
        %p
          = @startup.employees
    .extra.content
      %span 
        %ul
          = @startup.founders

    .extra.content
      %span
        -if admin_signed_in?
          = link_to 'Edit', edit_startup_path(@startup)
          \|
          = link_to 'Back', startups_path

