%section#img
  %center
    %h3{:style => "color:#fff;font-size:27px;"} The only organized community of Creative Problem Solvers in the World
%section
  .ui.equal.width.stackable.internally.celled.grid#second
    .column
      %center
        %h3#special Greens
        %p The Green membership is for 
        %p A startup founder who is working on a social or commercial enterprise
        %p A freelance consultant developer, designer and a business developer who wants to contribute to a start up or participate in community user groups
        %p A person or a group who shares and spreads our culture to other hubs and spaces
        = link_to "Startups", startups_path 
        and 
        =link_to "Consultants ", consultants_path
        

    .column
      %center
        %h3#special About the iHub

        %p The iHub is a community of creative problem solvers
        %p who solve contextual problems using tech and entrepreneurship
        %br
        = image_tag("ihub.png", width: "150px" , height: "50px")
.ui.horizontal.divider

%section
  %center
    %h3#special Visit us
  %br
  %center
    = render 'home/map'


%section{:style => "margin-top:10px;"}
  %center
    %h3#special Reach us
  %br
  .ui.equal.width.stackable.internally.celled.grid#contact
    .column
      %p Contact our team or simply leave a message
      %p 4th Floor Bishop Magua House Ngong Road
      %h5 Email:
      = link_to '' do 
        %i.mail.icon 
        community@ihubstartups.org
    .column
      .ui.form
        .field
          %input{:placeholder => "Email"}
        .field
          %input{:placeholder => "Name"}
        .field
          %input{:type=> "text", :placeholder => "Leave a message"}
        %br
          .ui.green.button 
            = mail_to "ihugreens@gmail.com" , id: "cnt" do 
              Submit
