= render'layouts/header'
.ui.basic.segment
  %h3.ui.header#special  Give us a challenge 
  %small “THE STARTUPS ARE CONTINUOUSLY INVOLVED IN PROBLEM SOLVING AND IMPROVING LIVES - MAKING THEM THE   BEST CONTEXT EXPERTS”
  %h3  WHY A CHALLENGE ? 
  %ul{:Style =>"list-style:none;"}

    %li Startups have sector experience and therefore 
    %li More hours spent on the challenge allows proper user research, ideation, design, prototyping, building and testing as opposed to two or three hackathon days

  %h3 For the Startups 
  %ul{:Style =>"list-style:none;"}
    %li Experience working with a large multinational or Corporate or Not for Profit in solving a problem
    %li Funds allocated directly to the startup support them post challenge (Seed money)
  %h3  For You 
  %ul{:Style =>"list-style:none;"}
    %li Ownership of solution created 
   
  .ui.divider

  %h3.ui.header#special  Current challenges 
  .ui.link.cards
    - @challenges.each do |challenge|

      .ui.blue.card
        .content
          %center
            .circular.medium.ui.image
              -if challenge.avatar.nil?
              -else
                = image_tag challenge.avatar.url(:thumb)
        .content
          .header 
            %center
              =challenge.title
          .right.floated.meta
            %i.briefcase.icon
            = challenge.organization
          .description
            = truncate(challenge.description, length: 20)
        .extra.content
          %span.right.floated
            -if challenge.timeline.nil?
            -else
              = challenge.timeline.readable_inspect()
          %span
            %p
              =challenge.reward 
        .extra.content
          %span
            = link_to 'More', challenge
            -if admin_signed_in?
              = link_to 'Show', challenge
              = link_to 'Edit', edit_challenge_path(challenge)
              = link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }


