= render'layouts/header'
.ui.basic.segment
  %p#notice= notice
  .ui.centered.card{:style => "width:70%"}
    .content
      %center
        .circular.ui.image
          -if @challenge.avatar.nil?
          -else
            = image_tag @challenge.avatar.url(:medium)
    .inverted.green.content
      .header 
        %center
          = @challenge.title
      .right.floated.meta 
        %i.suitcase.icon
        = @challenge.organization
      .description
        =@challenge.description
    .extra.content
      %span.right.floated
        -if @challenge.timeline.nil?
        -else
          = @challenge.timeline.readable_inspect()
      %span
        %p
          =@challenge.reward 
    .extra.content
      %span
        -if admin_signed_in?
          = link_to 'Edit', edit_challenge_path(@challenge)
          \|
        = link_to 'Back', challenges_path

